html {background-color: rgb(94, 255, 0);}
html {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

.main-body {
    min-height: 900px;
    min-width: 500px ;
    border: 1px solid red;
    /* flex-shrink: 0;
    flex-basis: 1 ; */
   
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    font-weight: 900;
    margin: 20px;
}

.btn {
    border-radius: 20px;
    width: 80px;
    height: 70px;
    font-size: 50px;
    font-weight: 900;
    /* margin: 15px; */
}

.gen-buttons {
    display: flex;
    justify-content: space-around;

}

.oper-buttons {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    
    width: 20%;
    flex-grow: 0 ;
}

.num-buttons{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-grow: 0 ;
}

/*   */